---
http_interactions:
- request:
    method: post
    uri: https://alpha.bitodeme.com/api/v1/tokens
    body:
      encoding: UTF-8
      string: '{"token":{"client_id":"key","client_secret":"secret","grant_type":"client_credentials"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":{"value":"VXdVOU1CN1BYMS9FMlJiaXo5dCs2Zz09","name":"access_token","expires_at":1513916556,"details":{"scope":"read,write,session,withdraw","redirect_uri":null,"grant_type":"client_credentials","client_id":"b9e8394d-eb8f-4454-879b-28b80dbe11f3"}}}'
  recorded_at: Fri, 22 Dec 2017 03:22:36 GMT
recorded_with: VCR 4.0.0
